@charset "UTF-8";

body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
a:link {
    color: #1077BC;
}

a:hover {
    color: #FF9900;
    text-decoration: none;
}

nav.navbar > div.container {
    width: 900px;
}

.site-name {

    color: #169FDE;
    font-size: 28px;
    transition: all 0.2s ease-in-out;
}
.site-name:hover {
    text-shadow: #169FDE 0 0 20px;
}
.site-motto {
    color: #1B813F;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.site-motto:hover {
    text-shadow: #1B813F 0 0 15px;
}


.container-fluid {
    font-family: "Microsoft YaHei", "Hiragino Sans GB", "STHeiti", Tahoma, "SimHei", sans-serif;
    font-size: 16px;
    color: #269abc;
}



thead {
    background-color: #dde6dd;
}

th:first-child {
    width: 3%;
}

td.post-date {
    width: 35%;
}
td.post-title {
    width: 50%;
}


.footer {
    color: #a3a3a3;
    position: absolute;
    bottom: 5px;
}