<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Servlet 3.0 Web Application</display-name>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.mark.filter.EncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LoginCheckerFilter</filter-name>
        <filter-class>com.mark.filter.LoginCheckerFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LoginCheckerFilter</filter-name>
        <url-pattern>/manage/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>com.mark.controller.SignInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.mark.controller.SignUpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.mark.controller.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowArticleServlet</servlet-name>
        <servlet-class>com.mark.controller.ShowArticleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowArticleServlet</servlet-name>
        <url-pattern>/posts/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ArticleControlServlet</servlet-name>
        <servlet-class>com.mark.controller.ArticleControlServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ArticleControlServlet</servlet-name>
        <url-pattern>/manage/posts/add</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SettingServlet</servlet-name>
        <servlet-class>com.mark.controller.SettingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SettingServlet</servlet-name>
        <url-pattern>/manage/setting</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateArticleServlet</servlet-name>
        <servlet-class>com.mark.controller.UpdateArticleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateArticleServlet</servlet-name>
        <url-pattern>/manage/posts/update/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageServlet</servlet-name>
        <servlet-class>com.mark.controller.ManageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ManageServlet</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <servlet-class>com.mark.controller.DeleteArticleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <url-pattern>/manage/posts/delete/*</url-pattern>
    </servlet-mapping>



</web-app>
